body,
html {
    height: auto;
    width: 100%;
}

body {
    background: -webkit-linear-gradient(rgb(179, 1, 1), gold);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0;
    text-align: center;
}

header{
    overflow: hidden;
}

header div {
    background-color: rgb(54, 54, 54);
    width: 100%;

}


header .navbar-brand {
    -webkit-text-stroke: 2px gray;
    text-align: center;
    font-family: haettenschweiler;
    margin-left: 4%;
    padding-right: 2%;
}

header .phone .navbar-brand,
header .tablet .navbar-brand,
header .tabletv1 .navbar-brand,
header .desktop .navbar-brand {
    position: absolute;
    padding-right: 5%;
    font-size: 3vw;
    -webkit-text-stroke: 1px rgb(211, 211, 253);
}

header .phone li a,
header .tablet li a,
header .tabletv1 li a,
header .desktop li a {
    text-decoration: none;
    color: black;
    -webkit-text-stroke: 1px rgb(211, 211, 253);
}

header .phone li,
header .tablet li,
header .tabletv1 li,
header .desktop li {
    text-align: center;
    margin-left: 22%;
    -webkit-text-stroke: 1px rgb(211, 211, 253);
    display: inline-block;
    padding-left: 5%;
    padding-right: 0%;
    font-size: 2vw;
    margin-right: -20%;
    margin-bottom: 4%;
    margin-top: 3%;

}


header .desktop2 nav div div ul li a,
header .desktop2 nav div div ul li {

    -webkit-text-stroke: 1px rgb(211, 211, 253);
    margin-left: 10%;
    width: 100%;
    padding-right: 30%;
    display: inline-block;
    text-decoration: none;
    list-style: none;

}

header .desktop3 nav div div ul li a,
header .desktop3 nav div div ul li {

    -webkit-text-stroke: 1px rgb(211, 211, 253);
    margin-left: 20%;
    padding-right: 30%;
    display: inline-block;
    text-decoration: none;
    list-style: none;

}

header .desktop4 nav div div ul li a,
header .desktop4 nav div div ul li {

    -webkit-text-stroke: 1px rgb(211, 211, 253);
    margin-left: 30%;
    padding-right: 30%;
    display: inline-block;
    text-decoration: none;
    list-style: none;


}

header .desktop5 nav div div ul li a,
header .desktop5 nav div div ul li {

    -webkit-text-stroke: 1px rgb(211, 211, 253);
    width: 100%;
    margin-left: 35%;
    padding-right: 40%;
    display: inline-block;
    text-decoration: none;
    list-style: none;


}

header .desktop6 nav div div ul li a,
header .desktop6 nav div div ul li {

    -webkit-text-stroke: 1px rgb(211, 211, 253);
    width: 100%;
    margin-left: 5vw;
    padding-right: 5vw;
    display: inline-block;
    text-decoration: none;
    list-style: none;


}

.d-flex {
    padding-left: 15%;
    width: 40%
}

.d-flex input {
    width: 100%;
    font-size: 100%;
}

.d-flex button {
    width: 60%;
    font-size: 100%;
}



.phone h5,
.tablet h5,
.desktop h5,
.desktop2 h5,
.desktop3 h5,
.desktop4 h5,
.desktop5 h5,
.desktop6 h5 {
    -webkit-text-stroke: 1px rgb(252, 82, 82);
}

/* Telefonos */
@media (max-width: 600px) {
    .desktop {
        display: none;
    }

    .tabletv1 {
        display: none;
    }

    .tablet {
        display: none;
    }

    .desktop2 {
        display: none;
    }

    .desktop3 {
        display: none;
    }

    .desktop4 {
        display: none;
    }

    .desktop5 {
        display: none;
    }

    .desktop6 {
        display: none;
    }
}

/* Tabletas v1 */
@media (min-width: 601px) and (max-width: 719px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }

    .phone {
        display: none;
    }

    .desktop2 {
        display: none;
    }

    .desktop3 {
        display: none;
    }

    .desktop4 {
        display: none;
    }

    .desktop5 {
        display: none;
    }

    .desktop6 {
        display: none;
    }
}

/* Tabletas v2 */
@media (min-width: 720px) and (max-width: 799px) {
    .desktop {
        display: none;
    }

    .phone {
        display: none;
    }

    .tabletv1 {
        display: none;
    }

    .desktop2 {
        display: none;
    }

    .desktop3 {
        display: none;
    }

    .desktop4 {
        display: none;
    }

    .desktop5 {
        display: none;
    }

    .desktop6 {
        display: none;
    }
}

/* Monitores low */
@media (min-width: 800px) and (max-width: 999px) {
    .phone {
        display: none;
    }

    .tablet {
        display: none;
    }

    .tabletv1 {
        display: none;
    }

    .desktop2 {
        display: none;
    }

    .desktop3 {
        display: none;
    }

    .desktop4 {
        display: none;
    }

    .desktop5 {
        display: none;
    }

    .desktop6 {
        display: none;
    }
}

/* Monitores media-low */
@media (min-width: 1000px) and (max-width: 1199px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }

    .tabletv1 {
        display: none;
    }

    .phone {
        display: none;
    }

    .desktop3 {
        display: none;
    }

    .desktop4 {
        display: none;
    }

    .desktop5 {
        display: none;
    }

    .desktop6 {
        display: none;
    }
}

/* Monitores medios y televisores lcd */
@media (min-width: 1200px) and (max-width: 1366px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }

    .tabletv1 {
        display: none;
    }

    .desktop2 {
        display: none;
    }

    .phone {
        display: none;
    }

    .desktop4 {
        display: none;
    }

    .desktop5 {
        display: none;
    }

    .desktop6 {
        display: none;
    }
}

/* Monitores hd */
@media (min-width: 1367px) and (max-width: 1560px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }

    .tabletv1 {
        display: none;
    }

    .desktop2 {
        display: none;
    }

    .desktop3 {
        display: none;
    }

    .phone {
        display: none;
    }

    .desktop5 {
        display: none;
    }

    .desktop6 {
        display: none;
    }
}

/* Monitores full-HD media */
@media (min-width: 1561px) and (max-width: 1760px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }

    .tabletv1 {
        display: none;
    }

    .desktop2 {
        display: none;
    }

    .desktop3 {
        display: none;
    }

    .desktop4 {
        display: none;
    }

    .phone {
        display: none;
    }

    .desktop6 {
        display: none;
    }

}

/* Monitores full-HD */
@media (min-width: 1761px) {
    .desktop {
        display: none;
    }

    .tablet {
        display: none;
    }

    .tabletv1 {
        display: none;
    }

    .desktop2 {
        display: none;
    }

    .desktop3 {
        display: none;
    }

    .desktop4 {
        display: none;
    }

    .desktop5 {
        display: none;
    }

    .phone {
        display: none;
    }


}

@media (max-width: 999px) {

    body div .carousel-inner {
        background-image: url(http://drive.google.com/uc?export=view&id=1z1n0Y5C_Hyyo4y4nbPB3s-Si1q974ZuC);
        background-size: 100% 350px;
        background-repeat: no-repeat;
        min-height: 350px;
        max-height: 350px;
        width: 100%;
        margin-top: 4%;
    }

    .primercuadro div img {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
        height: 300px;
        border: 1px solid black;
        border-style: groove;
        border-radius: 1%;

    }

    .primercuadro div div p {
        color: white;
        margin-top: -250px;
        width: 30%;
        font-size: 75%;
        margin-left: 55%;
        text-align: justify;
        background: black;
        opacity: 0.6;
        border-radius: 10%;
        font-family: gill sans;
        padding: 3%;
    }

    .segundocuadro div img {
        width: 80%;
        height: 300px;
        margin-left: 10%;
        margin-right: 10%;
        border-radius: 8%;
        position: relative;
    }

    .segundocuadro div div .titulosegundocuadro {
        position: absolute;
        top: 40%;
        left: 40%;
        font-size: 6vw;
        font-weight: 900;
        font-style: italic;
        font-family: gill sans;
        -webkit-text-stroke: 2px gold;
        color: black;
        text-decoration-style: wavy;
        text-decoration-thickness: 5%;
        text-align: center;
        display: block;

    }

    .segundocuadro div div p {
        position: absolute;
        color: black;
        font-size: 4vw;
        font-weight: 800;
        -webkit-text-stroke: 2px yellow;
    }

    .segundocuadro div div .textosegundocuadro1 {
        top: 10%;
        left: 15%;
    }

    .segundocuadro div div .textosegundocuadro2 {
        top: 10%;
        left: 65%;
    }

    .segundocuadro div div .textosegundocuadro3 {
        bottom: 5%;
        left: 15%;
    }

    .segundocuadro div div .textosegundocuadro4 {
        bottom: -7%;
        left: 40%;
    }

    .segundocuadro div div .textosegundocuadro5 {
        bottom: 5%;
        left: 65%;
    }

    .tercercuadro div iframe {
        width: 50%;
        height: 300px;
        margin-left: 10%;
        border-radius: 20%;
        padding: 5% 5%;
    }

    .tercercuadro div div h5 {
        position: absolute;
        top: 10%;
        left: 60%;
        font-size: 5vw;
        -webkit-text-stroke: 1px red;
        color: white;
    }

    .tercercuadro div div p {
        position: absolute;
        padding-top: 5%;
        left: 60%;
        top: 20%;
        text-align: justify;
        width: 30%;
        font-size: 100%;
        color: white;
    }

    .cuartocuadro div div h5 {
        position: absolute;
        top: 5%;
        left: 55%;
        font-size: 150%;
        -webkit-text-stroke: 1px red;
        color: white;
    }

    .cuartocuadro div div p {
        position: absolute;
        padding-top: 35px;
        left: 55%;
        text-align: justify;
        width: 30%;
        font-size: 80%;
        color: white;
    }

    body .img1{
        position: absolute;
        height: 80px;
        left: 20vw;
        top: 5px;
        border: .1vw solid black;
        border-radius: .5vw;
        width: 12.5%;
    }

    body .img2{
        position: absolute;
        height: 80px;
        left: 31vw;
        top: 75px;
        border: .1vw solid black;
        border-radius: .5vw;
        width: 12.5%;
    }

    body .img3{
        position: absolute;
        height: 80px;
        left: 20vw;
        top: 145px;
        border: .1vw solid black;
        border-radius: .5vw;
        width: 12.5%;
    }

    body .img4{
        position: absolute;
        height: 80px;
        left: 31vw;
        top: 215px;
        border: .1vw solid black;
        border-radius: .5vw;
        width: 12.5%;
    }

    .Menucompleto {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .titulomenus {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        padding: 3%;
        border: .5vw goldenrod;
        border-style: outset groove outset;
        background: -webkit-linear-gradient(left, rgb(148, 19, 19), rgb(238, 60, 60));
        border-bottom-right-radius: 2vw;
        border-top-left-radius: 2vw;
    }

    .titulomenus h2 {
        font-size: 3vw;
        color: white;
        -webkit-text-stroke: .1vw black;
        font-family: fantasy;
        font-weight: 500;
        padding-left: 5%;
    }


    .Menucompleto div div #containermenu {
        margin-left: 15%;
        height: 25vw;
        display: inline-flex;
        max-width: 70%;
        margin-bottom: 5vw;
    }

    .Menucompleto div div #containermenu .container2 {
        width: 12vw;
        background: -webkit-linear-gradient(bottom, gray, white);
        border-radius: 1vw;
        padding-bottom: 1vw;
        text-align: center;
        cursor: pointer;
        transition: all 1s ease;
        box-shadow: 1vw 1vw 2vw black, 1vw 1vw 2vw white;
    }

    .Menucompleto div div #containermenu .container2:hover {
        box-shadow: 1vw 1vw 2vw white, 1vw 1vw 2vw black
    }



    .Menucompleto div div #containermenu .container2 img {
        height: 10vw;
        width: 11vw;
        border-radius: 1vw;
        padding: .2vw;
        border-style: groove outset groove;


    }

    .Menucompleto div div #containermenu .container2 h3 {
        font-size: 2vw;
        font-family: sans-serif;
        text-align: center;
        font-weight: 800;

    }

    .Menucompleto div div #containermenu .container2 p {
        font-size: 1vw;
        font-family: sans-serif;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        font-weight: 700;
        margin-bottom: -.05vw;
    }

    .Menucompleto div div #containermenu #cont2 {
        margin-left: 6vw
    }

    .Menucompleto div div #containermenu #cont3 {
        margin-left: 6vw
    }

    .Menucompleto div div #containermenu #cont4 {
        margin-left: 6vw
    }

    .Menucompleto div div #containermenu .container2 button {
        padding-left: 1vw;
        padding-right: 1vw;
        margin-left: 5vw;
        font-size: .9vw;
        border-radius: .5vw;
        margin-top: 1vw;
        background: rgb(165, 165, 243);
        border: 2px solid rgb(83, 83, 83);
        cursor: pointer;
        transition: all 1s ease;
        box-shadow: .2vw .2vw 1vw black, -.2vw -.2vw 1vw white;
        position: relative;
        overflow: hidden;
    }


    .Menucompleto div div #containermenu .container2 button span {
        position: absolute;
        background: white;
        transition: .5s;
        border-style: inset;
        border-radius: 5vw;
        border-width: .1vw;

    }

    .Menucompleto div div #containermenu .container2 button span:nth-child(1) {
        width: 100%;
        height: .1vw;
        top: 0;
        left: -100%;
    }

    .Menucompleto div div #containermenu .container2 button span:nth-child(2) {
        width: 100%;
        height: .1vw;
        bottom: 0;
        right: -100%
    }

    .Menucompleto div div #containermenu .container2 button span:nth-child(3) {
        width: .1vw;
        height: 100%;
        left: 0;
        bottom: -100%
    }

    .Menucompleto div div #containermenu .container2 button span:nth-child(4) {
        width: .1vw;
        height: 100%;
        right: 0;
        top: -100%
    }

    .Menucompleto div div #containermenu .container2 button:hover span:nth-child(1) {
        left: 0;
    }

    .Menucompleto div div #containermenu .container2 button:hover span:nth-child(2) {
        right: 0;
    }

    .Menucompleto div div #containermenu .container2 button:hover span:nth-child(3) {
        bottom: 0;
    }

    .Menucompleto div div #containermenu .container2 button:hover span:nth-child(4) {
        top: 0;
    }


    .Menucompleto div div #containermenu .container2 button:hover {
        box-shadow: .2vw .2vw 1vw white, -.2vw -.2vw 1vw black;
    }



    .Menucompleto div div #containermenu .container2 button:active {
        box-shadow: inset .1vw .1vw 1vw white, inset -.1vw -.1vw 1vw black
    }


}



.nav2 {
    background-image: url(http://drive.google.com/uc?export=view&id=168RBjWjoDvxAtQyVZrg5g42iMvBr9eZk);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
    margin-bottom: 5vw;
    border: .1vw solid;
    padding-left: 2vw;
    padding-right: 2vw;
}


.nav2 .nav {
    margin-left: 7vw;
    margin-right: 7vw;
}

.nav2 .nav-item a {
    width: 80%;
    font-size: 1.45vw;
    font-weight: 700;
    color: black;
}

.nav2 .nav-item a:hover {

    -webkit-text-stroke: .1vw rgb(189, 13, 13);
    font-size: 1.5vw;

}







/*****************************************************************************************************************/



@media (min-width: 1000px) {

    header div nav div div ul li a:hover {
        -webkit-text-stroke: 2px rgb(200, 200, 245);
    }


    body div .carousel-inner {
        background-image: url(http://drive.google.com/uc?export=view&id=1z1n0Y5C_Hyyo4y4nbPB3s-Si1q974ZuC);
        background-size: 100% 700px;
        background-repeat: no-repeat;
        min-height: 700px;
        max-height: 700px;
        width: 100%;
        margin-top: 3%;
    }

    .primercuadro div div p {
        margin-left: 65%;
        margin-bottom: 25%;
        font-size: 150%;
        text-align: justify;
        background: black;
        opacity: .5;
        border-radius: 10%;
        width: 30%;
        font-family: gill sans;
        padding: 3%;
    }

    .segundocuadro div div p {
        color: black;
        font-weight: 800;
        font-size: 300%;
        -webkit-text-stroke: 2px yellow;
    }

    .segundocuadro div div .textosegundocuadro1 {
        margin-top: -600px;
        text-align: left;
        font-family: verdana;


    }

    .segundocuadro div div .textosegundocuadro2 {
        margin-top: -90px;
        text-align: right;
        font-family: verdana;

    }

    .segundocuadro div div .titulosegundocuadro {
        margin-top: 125px;
        font-size: 600%;
        font-weight: 900;
        font-style: italic;
        font-family: gill sans;
        -webkit-text-stroke: 2px gold;
        color: black;
        text-decoration-style: wavy;
        text-decoration-thickness: 5%;
        text-align: center;
        display: block;
    }

    .segundocuadro div div .textosegundocuadro3 {
        text-align: left;
        margin-top: 160px;
        margin-bottom: -650px;
        font-family: verdana;

    }

    .segundocuadro div div .textosegundocuadro4 {
        margin-bottom: -400px;
        margin-top: 578px;
        text-align: center;
        margin-left: 10%;
        font-family: verdana;
    }

    .segundocuadro div div .textosegundocuadro5 {
        text-align: right;
        margin-bottom: -480px;
        margin-top: 326px;
        font-family: verdana;
    }


    .tercercuadro div div h5 {
        margin-left: 65%;
        margin-top: -550px;
        font-size: 250%;
        text-align: center;
        width: 30%;
        font-family: gill sans;

    }

    .tercercuadro div div p {
        margin-left: 65%;
        margin-bottom: 250px;
        font-size: 150%;
        text-align: justify;
        width: 30%;
        line-height: 200%;
        font-family: gill sans;
    }

    #carrusel4pos{
        position: relative;
    }

    .cuartocuadro div div h5 {
        position: absolute;
        top: 5vw;  
        font-size: 200%;
        left: 45vw;
    }

    .cuartocuadro div div p {
        position: absolute;
        top: 10vw;
        font-size: 150%;
        left: 40vw;
        text-align: justify;
        width: 30%;
        max-height: 30vw;
        line-height: 3vw;
        font-family: gill sans;
        overflow: scroll;
    }

    
    .cuartocuadro div div p::-webkit-scrollbar{
        display: none;
    }

    body .img1 {

        height: 400%;
        position: absolute;
        left: 15vw;
        border-radius: .5vw;
        border: solid .01vw black;
        top: 50%;
        width: 15%;
    
    }
    
    body .img2 {
    
        height: 400%;
        position: absolute;
        border-radius: .5vw;
        border: solid .01vw black;
        left: 28vw;
        top: 400%;
        width: 15%;
    }
    
    body .img3 {
    
        height: 400%;
        position: absolute;
        border-radius: .5vw;
        border: solid .01vw black;
        left: 15vw;
        top: 750%;
        width: 15%;
    }
    
    body .img4 {
    
        height: 400%;
        position: absolute;
        border-radius: .5vw;
        border: solid .01vw black;
        left: 28vw;
        top: 1100%;
        width: 15%;
    }


    .Menucompleto {
        margin-bottom: 5%;
        margin-top: 5%;
    }

    .titulomenus {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
        padding: 3%;
        border: .5vw goldenrod;
        border-style: outset groove outset;
        background: -webkit-linear-gradient(left, rgb(148, 19, 19), rgb(238, 60, 60));
        border-bottom-right-radius: 2vw;
        border-top-left-radius: 2vw;
    }

    .titulomenus h2 {
        font-size: 3vw;
        color: white;
        -webkit-text-stroke: .1vw black;
        font-family: fantasy;
        font-weight: 500;
        padding-left: 5%;
    }


    .Menucompleto div div #containermenu {
        margin-left: 15%;
        height: 22vw;
        display: inline-flex;
        max-width: 70%;
        margin-bottom: 5vw;
    }

    .Menucompleto div div #containermenu .container2 {
        width: 12vw;
        background: -webkit-linear-gradient(bottom, gray, white);
        border-radius: 1vw;
        padding-bottom: 1vw;
        text-align: center;
        cursor: pointer;
        transition: all 1s ease;
        box-shadow: 1vw 1vw 2vw black, 1vw 1vw 2vw white;
    }

    .Menucompleto div div #containermenu .container2:hover {
        box-shadow: 1vw 1vw 2vw white, 1vw 1vw 2vw black
    }



    .Menucompleto div div #containermenu .container2 img {
        height: 10vw;
        width: 11vw;
        border-radius: 1vw;
        padding: .2vw;
        border-style: groove outset groove;
        margin-top: 5%;


    }

    .Menucompleto div div #containermenu .container2 h3 {
        font-size: 2vw;
        font-family: sans-serif;
        text-align: center;
        font-weight: 800;

    }

    .Menucompleto div div #containermenu .container2 p {
        font-size: 1vw;
        font-family: sans-serif;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
        font-weight: 700;
        margin-top: -5%;
    }

    .Menucompleto div div #containermenu #cont2 {
        margin-left: 6vw
    }

    .Menucompleto div div #containermenu #cont3 {
        margin-left: 6vw
    }

    .Menucompleto div div #containermenu #cont4 {
        margin-left: 6vw
    }

    .Menucompleto div div #containermenu .container2 button {
        padding-left: 1vw;
        padding-right: 1vw;
        margin-left: 5vw;
        font-size: .9vw;
        border-radius: .5vw;
        margin-top: 1vw;
        background: rgb(165, 165, 243);
        border: 2px solid rgb(83, 83, 83);
        cursor: pointer;
        transition: all 1s ease;
        box-shadow: .2vw .2vw 1vw black, -.2vw -.2vw 1vw white;
        position: relative;
        overflow: hidden;
    }


    .Menucompleto div div #containermenu .container2 button span {
        position: absolute;
        background: white;
        transition: .5s;
        border-style: inset;
        border-radius: 5vw;
        border-width: .1vw;

    }

    .Menucompleto div div #containermenu .container2 button span:nth-child(1) {
        width: 100%;
        height: .1vw;
        top: 0;
        left: -100%;
    }

    .Menucompleto div div #containermenu .container2 button span:nth-child(2) {
        width: 100%;
        height: .1vw;
        bottom: 0;
        right: -100%
    }

    .Menucompleto div div #containermenu .container2 button span:nth-child(3) {
        width: .1vw;
        height: 100%;
        left: 0;
        bottom: -100%
    }

    .Menucompleto div div #containermenu .container2 button span:nth-child(4) {
        width: .1vw;
        height: 100%;
        right: 0;
        top: -100%
    }


    .Menucompleto div div #containermenu .container2 button:hover span:nth-child(1) {
        left: 0;
    }

    .Menucompleto div div #containermenu .container2 button:hover span:nth-child(2) {
        right: 0;
    }

    .Menucompleto div div #containermenu .container2 button:hover span:nth-child(3) {
        bottom: 0;
    }

    .Menucompleto div div #containermenu .container2 button:hover span:nth-child(4) {
        top: 0;
    }

    .Menucompleto div div #containermenu .container2 button:hover {
        box-shadow: .2vw .2vw 1vw white, -.2vw -.2vw 1vw black;
    }



    .Menucompleto div div #containermenu .container2 button:active {
        box-shadow: inset .1vw .1vw 1vw white, inset -.1vw -.1vw 1vw black
    }






}





/************************** botones  pequeños  de la sub-barra del header *************************************/
body {
    border: 1px solid;
}

body #subheader {
    background: rgb(54, 54, 54);
    border-top: 2px solid black;
    list-style: none;
    width: 100%;
    height: 5vw;
    position: sticky;
    top: 0;
    z-index: 1;
    overflow: hidden;
    transition: all 1.5s;
}

body #subheader.hide {
    top: -10vw;
}


body #subheader #Delivery {
    display: inline-block;
    padding-right: 5vw;
    font-size: 1vw;
    color: aqua;
    position: absolute;
    right: 18vw;
    top: 2.5vw;
    cursor: pointer;
}

body #subheader #WhatsApp {
    display: inline-block;
    padding-right: 5vw;
    font-size: 1vw;
    color: aqua;
    position: absolute;
    right: 10vw;
    top: 2.5vw;
    cursor: pointer;
}

body #subheader #ListadePedido {
    display: inline-block;
    padding-right: 5vw;
    font-size: 1vw;
    color: aqua;
    position: absolute;
    right: 0vw;
    top: 2.5vw;
    -webkit-text-stroke: .05vw aqua;
}

body #subheader a {
    text-decoration: none;
    -webkit-text-stroke: .05vw aqua;
    transition: all 1s ease;
}

body #subheader a:hover {
    text-decoration: none;
    -webkit-text-stroke: .07vw aquamarine;
    font-size: 1.03vw;

}


body #subheader svg {
    width: 1.6vw;
    height: 1.5vw
}

body #subheader #carrito {
    position: absolute;
    top: .8vw;
    right: 7.5vw;
    color: aquamarine;
    transition: all .5s ease;
    cursor: pointer;

}

body #subheader #whatsapp {
    position: absolute;
    top: .8vw;
    right: 16.5vw;
    color: aquamarine;
    transition: all .5s ease;
    cursor: pointer;

}

body #subheader svg:hover {
    position: absolute;
    top: .75vw;
    color: aquamarine;
    height: 2vw;
    width: 2vw;
    box-shadow: inset 10vw 0 0 0 rgb(23, 115, 219);
    border-radius: 10vw;

}

body #subheader #delivery {
    position: absolute;
    top: .8vw;
    right: 24vw;
    color: aquamarine;
    transition: all .5s ease;
    cursor: pointer;


}









/*****************************Tabla Modal****************************/





/*********************** Cards de menu *******************************/

body .titulomenus {
    position: relative;
}

body .titulomenus img {
    position: absolute;
    z-index: 0;
    height: 6vw;
    width: 5vw;
    right: 5vw;
    top: 1.5vw;
}

body #listadecomida {
    background: white;
    color: black;
    margin-right: 10%;
    margin-left: 10%;
    padding-left: 0;
}

body #listadecomida a {
    margin-right: 10%;
}


body .containerseccion {
    margin-left: 15%;
    max-height: 75vw;
    display: inline-flex;
    margin-bottom: 5vw;
    width: 70%;
    flex-wrap: wrap;

}

body .containerseccion div {
    margin-right: 2%;
    margin-left: 5%;
    width: 12vw;
    height: 20vw;
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.815), white);
    border-radius: 1vw;
    padding-bottom: 1vw;
    text-align: center;
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: 1vw 1vw 2vw black, 1vw 1vw 2vw white;
    position: relative;
    margin-bottom: 8%;
}

body .containerseccion div:hover {
    box-shadow: 1vw 1vw 2vw white, 1vw 1vw 2vw black
}

body .containerseccion div img {
    height: 8vw;
    width: 11vw;
    border-radius: 1vw;
    padding: .2vw;
    border-style: groove outset groove;
    margin-top: 5%;


}

body .containerseccion div h3 {
    font-size: 1.5vw;
    font-family: sans-serif;
    text-align: center;
    font-weight: 800;
    width: 100%;
    max-height: 3.5vw;
    overflow: scroll;
    padding-bottom: 1vw;
    position: absolute;
}

body .containerseccion div h3::-webkit-scrollbar {
    display: none;
}

body .containerseccion div .descproducto {
    font-size: 1vw;
    font-family: sans-serif;
    text-align: justify;
    top: 12vw;
    left: 1vw;
    width: 80%;
    font-weight: 700;
    max-height: 5vw;
    overflow: scroll;
    position: absolute;
}

body .containerseccion div .precioproducto {
    color: white;
    position: absolute;
    top: 17vw;
    font-size: 1.2vw;
    font-family: gill sans;
    font-weight: 700;
    text-align: left;
    left: 1vw;
    width: 45%;
    background: red;
    border-top-left-radius: .5vw;
    border-bottom-left-radius: .5vw;
    border-top-right-radius: .6vw;
    border-bottom-right-radius: .6vw;
    max-height: 1.8vw;
    padding-left: .5vw;
}

body .containerseccion div p::-webkit-scrollbar {
    display: none;
}

body .containerseccion div #cont2 {
    margin-left: 6vw
}

body .containerseccion div #cont3 {
    margin-left: 6vw
}

body .containerseccion div #cont4 {
    margin-left: 6vw
}

body .containerseccion div button {
    width: 80%;
    height: 2.5vw;
    text-align: center;
    font-size: .9vw;
    border-radius: .5vw;
    background: red;
    border: .1vw rgb(83, 83, 83);
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .2vw .2vw 1vw black, -.2vw -.2vw 1vw white;
    overflow: hidden;
    position: absolute;
    bottom: -3vw;
    left: 1.2vw;
    font-family: verdana;
    font-weight: 700;
    color: white;
}

body .containerseccion div button:hover {
    box-shadow: .2vw .2vw 1vw white, -.2vw -.2vw 1vw black;
    background: red;
    width: 90%;
    margin: auto;
    left: .6vw;
    bottom: -3.3vw;
    font-size: .95vw;
    border-radius: .5vw;
}



body .containerseccion div button:active {
    box-shadow: inset .1vw .1vw 1vw white, inset -.1vw -.1vw 1vw black
}

body .containerseccion div .ventanaproductoboton {
    width: 80%;
    height: 2.5vw;
    text-align: center;
    font-size: .9vw;
    border-radius: .5vw;
    background: red;
    border: .1vw rgb(83, 83, 83);
    cursor: pointer;
    transition: all 1s ease;
    box-shadow: .2vw .2vw 1vw black, -.2vw -.2vw 1vw white;
    overflow: hidden;
    position: absolute;
    bottom: -3vw;
    left: 1.2vw;
    font-family: verdana;
    font-weight: 700;
    color: white;
}

body .containerseccion div .ventanaproductoboton:hover {
    box-shadow: .2vw .2vw 1vw white, -.2vw -.2vw 1vw black;
    background: red;
    width: 90%;
    margin: auto;
    left: .6vw;
    bottom: -3.3vw;
    font-size: .95vw;
    border-radius: .5vw;
}



body .containerseccion div .ventanaproductoboton:active {
    box-shadow: inset .1vw .1vw 1vw white, inset -.1vw -.1vw 1vw black
}





body .containerseccion div button span {
    position: absolute;
    background: white;
    transition: .5s;
    border-style: inset;
    border-radius: 5vw;
    border-width: .1vw;

}

body .containerseccion div button span:nth-child(1) {
    width: 100%;
    height: .1vw;
    top: 0;
    left: -100%;
}

body .containerseccion div button span:nth-child(2) {
    width: 100%;
    height: .1vw;
    bottom: 0;
    right: -100%
}

body .containerseccion div button span:nth-child(3) {
    width: .1vw;
    height: 100%;
    left: 0;
    bottom: -100%
}

body .containerseccion div button span:nth-child(4) {
    width: .1vw;
    height: 100%;
    right: 0;
    top: -100%
}


body .containerseccion div button:hover span:nth-child(1) {
    left: 0;
    transition-delay: .2s;
}

body .containerseccion div button:hover span:nth-child(4) {
    top: 0;
    transition-delay: .4s;
}

body .containerseccion div button:hover span:nth-child(2) {
    right: 0;
    transition-delay: .2s;
}

body .containerseccion div button:hover span:nth-child(3) {
    bottom: 0;
    transition-delay: .4s;
}

body .containerseccion div button span:nth-child(5) {
    width: 80%;
    height: 30%;
    bottom: .3vw;
    left: 1vw;
    background: rgb(165, 165, 243);
    border: none;
    opacity: 0;
    border-style: inset;
    border-width: .1vw;
    overflow: hidden;
    position: absolute;
    border: none;
}

body .containerseccion div button span:nth-child(5) p {
    font-size: .7vw;
    font-family: verdana;
    text-align: center;
    overflow-wrap: break-word;
    margin-top: -.25vw;
}

body .containerseccion div button:hover span:nth-child(5) {
    bottom: .3vw;
    width: 80%;
    height: 30%;
    background: rgb(150, 150, 221);
    color: black;
    text-align: center;
    transition: all 1.5s;
    opacity: 1;
    overflow: hidden;
    position: absolute;
    border: none;
    left: 1vw;
}

body .containerseccion div button:hover span:nth-child(5) p {
    font-size: .7vw;
    left: 0;
    background: rgb(150, 150, 221);
    text-align: center;
    font-family: verdana;
}

/* *****************MODAL VENTANA PRODUCTO INDIVIDUAL************************ */

body .modalproductoventana {
    width: 40vw;
    margin-top: -2vw;
    margin-left: 5vw;
    max-height: 45vw;
    min-height: 45vw;
    background: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 9;
    top: 5vw;
    left: 25%;
    border-radius: 3%;
    box-shadow: inset .4vw .4vw 5vw black;
    transition: all 1s;
    opacity: 0;
    transform: translateY(-500%);
}

body .modalproductoventana::-webkit-scrollbar {
    display: none;
}


body .modalproductoventana:hover {
    background: rgb(188, 229, 243);
}


body .modalproductoventana div {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}


body .modalproductoventana h2 {
    text-align: center;
    font-style: italic;
    font-size: 2.5vw;
    margin: auto;
    margin-top: 65%;
    max-width: 80%;
    max-height: 8vw;
    overflow: scroll;
    font-family: sans-serif;
}

body .modalproductoventana h2::-webkit-scrollbar {
    display: none;
}

body .modalproductoventana .modal-header-button {
    color: red;
    position: fixed;
    left: 100%;
    cursor: pointer;
    font-size: 1vw;
    border-radius: 100%;
    background: rgba(0, 0, 0, 0.384);
    align-items: center;
    padding: .35vw;
    top: -1.5vw;

}

body .modalproductoventana .modal-header-button:hover {
    -webkit-text-stroke: .3vw rgb(255, 37, 37);
    font-size: 1.1vw;
    left: 100%;
}

body .modalproductoventana img {
    position: absolute;
    top: 5%;
    width: 80%;
    height: 40%;
    border-radius: 1vw;
    border: .2vw solid gold;
}

body .modalproductoventana .descproducto {
    position: absolute;
    top: 65%;
    max-width: 80%;
    font-size: 1.5vw;
    font-weight: 550;
    font-family: sans-serif;
    max-height: 7vw;
    overflow: scroll;
    text-align: justify;
}

body .modalproductoventana .descproducto::-webkit-scrollbar {
    display: none;
}

body .modalproductoventana .precioproducto {
    position: absolute;
    top: 40vw;
    left: 17vw;
    font-size: 1.5vw;
    height: 3vw;
    font-family: sans-serif;
}

body .modalproductoventana .bttnplus {
    position: absolute;
    height: 2vw;
    top: 40vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: .1vw solid black;
    background: red;
    color: white;
    left: 12vw;
}

body .modalproductoventana .bttnplus p {
    position: absolute;
    top: -.35vw;
    left: .45vw;
    font-size: 1.5vw;
    font-weight: 700;
}

body .modalproductoventana .bttnmin {
    position: absolute;
    height: 2vw;
    top: 40vw;
    padding-left: 1vw;
    padding-right: 1vw;
    border: .1vw solid black;
    background: red;
    color: white;
}

body .modalproductoventana .bttnmin p {
    position: absolute;
    top: -1vw;
    left: .64vw;
    font-size: 1.5vw;
    font-weight: 900;
}


body .modalproductoventana .cantproducto {
    position: absolute;
    top: 40vw;
    left: 6vw;
    padding-left: 3vw;
    padding-right: 3vw;
    border: .1vw solid black;
    height: 2vw;
    background: white;
    font-size: 1.5vw;
}

body .modalproductoventana .cantproductonum {
    position: absolute;
    top: 39.8vw;
    left: 8.25vw;
    font-size: 1.5vw;
    font-family: sans-serif;
}

body .modalproductoventana .botonagregar {
    position: absolute;
    top: 39.8vw;
    width: 12vw;
    right: 4vw;
    font-size: 1.3vw;
    text-align: center;
    font-family: sans-serif;
    border-radius: .2vw;
    font-weight: 700;
    background: red;
    color: white;
    border: .1vw solid black;
}

body .modalproductoventana .botonagregar:hover {
    background: rgba(255, 0, 0, 0.781);
}

body .modalproductoventana .botonagregar:active {
    -webkit-text-stroke: .09vw aquamarine;
    box-shadow: inset .1vw .1vw .05vw black, inset -.1vw -.1vw .05vw black;

}


/**************** MODAL VENTANA****************************/



body .modal-container {
    width: 50vw;
    margin: auto;
    max-height: 40vw;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    z-index: 9;
    top: 5vw;
    left: 25%;
    border-radius: 10%;
    box-shadow: inset .4vw .4vw 5vw black;
    transition: all 1s;
    opacity: 0;
}

body .modal-container::-webkit-scrollbar {
    display: none;
}


body .modal-container:hover {
    background: rgb(188, 229, 243);
}

body .modal-container .modal-header {
    color: black;
    padding-bottom: 5vw;
    padding-top: 3vw;
}

body .modal-container .modal-header h1 {
    font-size: 3.5vw;
    font-weight: 800;
    font-style: italic;
}

body .modal-container .modal-header-button {
    color: red;
    position: fixed;
    left: 90%;
    cursor: pointer;
}

body .modal-container .modal-header-button:hover {
    -webkit-text-stroke: .3vw rgb(255, 37, 37);
    font-size: 3vw;
    left: 90.5%;
}

body .modal-container .modaltitulotabla {
    display: inline-flex;
    width: 100%;
    height: 4vw;
}

body .modal-container .modaltitulotabla h2 {
    font-size: 1.5vw;
    font-weight: 700;
    font-family: gill sans;
}

body .modal-container .modaltitulotabla #descprod {
    margin-left: 27.5%;
}

body .modal-container .modaltitulotabla #cantprod {
    margin-left: 16%;
}

body .modal-container .modaltitulotabla #totalprod {
    margin-left: 9%;
}

body .modal-container .modaltitulotabla .textocarritolimpio {
    font-weight: 900;
    margin: auto;
    font-size: 2vw;
    font-family: verdana;
}


body .modal-container .modal-content {
    width: 90%;
    margin: auto;
    display: inline;
    flex-direction: column;
    margin-top: 3vw;
    font-family: fantasy;


}

body .modal-container .modal-content img {
    width: 20%;
    height: 20%;
    box-shadow: .5vw .5vw .5vw yellow;
    border-radius: 5%;
}

body .modal-container .modal-content h3 {
    display: inline-flex;
    position: absolute;
    left: 25%;
    top: -1.33vw;
    font-size: 1.5vw;
    max-height: 2.5vw;
    max-width: 13vw;
    overflow: scroll;
}

body .modal-container .modal-content h3::-webkit-scrollbar {
    display: none;
}

body .modal-container .modal-content #descripcion {
    display: inline-flex;
    position: absolute;
    left: 25%;
    text-align: justify;
    top: 1.1vw;
    line-height: 1.5vw;
    overflow: hidden;
    max-height: 4.5vw;
    font-size: 1vw;
    max-height: 5vw;
    max-width: 13vw;
    overflow: scroll;
}

body .modal-container .modal-content #descripcion::-webkit-scrollbar {
    display: none;
}


body .modal-container .modal-content #costound {
    display: inline-flex;
    position: absolute;
    left: 82.5%;
    width: 20%;
    top: .8vw;
    font-size: 1.5vw;
    font-family: times new roman;
    font-weight: 900;
}

body .modal-container .modal-content #cantund {
    display: inline-flex;
    position: absolute;
    left: 62.5%;
    width: 20%;
    top: .9vw;
    font-size: 1.5vw;
    font-family: times new roman;
    font-weight: 900;
}

body .modal-container .modal-content .bttnplus {
    position: absolute;
    left: 66.5%;
    width: 1.6vw;
    height: 1.5vw;
    font-size: .7vw;
    top: 1.3vw;
    padding: 0;
    border: none;
    overflow: hidden;
    background: red;
    border-top-right-radius: .5vw;
    border-bottom-right-radius: .5vw;


}

body .modal-container .modal-content .bttnplus p {
    position: absolute;
    top: -.33vw;
    left: .35vw;
    background: red;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.5vw;
    color: white;
}



body .modal-container .modal-content button p {
    border-radius: 1vw;
}



body .modal-container .modal-content .bttnmin {
    position: absolute;
    left: 59%;
    width: 1.5vw;
    height: 1.5vw;
    font-size: .7vw;
    top: 1.3vw;
    padding: 0;
    border: none;
    overflow: hidden;
    background: red;
    border-top-left-radius: .5vw;
    border-bottom-left-radius: .5vw;
}

body .modal-container .modal-content .bttnmin p {
    position: absolute;
    top: -1.05vw;
    left: .35vw;
    background: red;
    border-radius: 1vw;
    text-align: center;
    font-size: 1.5vw;
    color: white;
    font-weight: 800;
}



body .modal-container .modal-content .deleteprod {
    position: absolute;
    right: 0;
    top: .5vw;
    font-size: 1.8vw;
    font-weight: 600;
    cursor: pointer;
}




body .modal-container .total-content {
    margin-top: 3vw;
    font-size: 1.5vw;
    font-weight: 900;
    font-style: italic;
    margin-left: 22.5vw;

}


body .modal-container .fondodivcarrito {
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 2vw;
    margin-bottom: 1vw;
}

body .modal-container .fondodivcarrito .botoninscribir {
    width: 30%;
    border-radius: .5vw;
    background: red;
    padding-top: .6vw;
    padding-bottom: .6vw;
    font-weight: 700;
    font-family: verdana;
    font-size: 1vw;
    margin-left: 2vw;
    border: none;
    color: WHITE;
    cursor: pointer;
    padding-left: 2vw;
    padding-right: 2vw;
    text-decoration: none;
}

body .modal-container .fondodivcarrito .botonlimpiar {
    width: 30%;
    border-radius: .5vw;
    background: red;
    padding-top: .5vw;
    padding-bottom: .5vw;
    font-weight: 700;
    font-family: verdana;
    font-size: 1vw;
    margin-right: 2vw;
    border: none;
    color: WHITE;

}

body .modal-container .fondodivcarrito .botonlimpiar:hover {
    border: .1vw solid black;
    border-style: inset;

}

body .modal-container .fondodivcarrito .botoninscribir:hover {
    border: .1vw solid black;
    border-style: inset;

}


body .cesta-carrito {
    position: absolute;
    background: -webkit-linear-gradient(left, white, rgb(92, 92, 92));
    right: 5vw;
    top: .6vw;
    border-radius: 100%;
    width: 2vw;
    height: 2vw;
    text-align: center;
    color: black;
    margin: auto;
    font-size: 1.35vw;
    box-shadow: inset 1vw .1vw .1vw -webkit-linear-gradient(left, white, gray);
    transition: all 1s;
    opacity: 0;
}

footer div{
    width: 80%;
    overflow: hidden;
    padding-bottom: 3vw;
    display: flex;
    margin: auto;
    list-style: none;
    text-decoration: none;
    padding-top: 2vw;
    padding-bottom: 2vw;
}
footer img{
    width: 30%;
    padding: 0;
    text-decoration: none;
}
footer div a{
    text-decoration: none;
    margin: auto;
    color: black;

}

