{% extends "layout.html" %}

{% block content %}

<div class="nav2">
    <ul class="nav nav-justified">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#COMBOS">Combos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#ENTREMESES">Entremeses</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Arroz">Arroz</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Chopsuey">Chopsuey</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#ChowMein">ChowMein</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#LoMein">LoMein</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Fideos">Fideos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Pollo">Pollo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Carnes">Carnes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Cerdo">Cerdo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Fuyung">Fu Yung</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Vegetales">Vegetales</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Sopas">Sopas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Bebidas">Bebidas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Extras">Extras</a>
        </li>
    </ul>
</div>

<div class="Menucompleto">
            
    <div class="titulomenus">
        <h2 id="COMBOS">COMBOS</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenu1" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="ENTREMESES">ENTREMESES</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenu3entremes" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Arroz">Arroz Frito</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenuarroz" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Arroz">Arroz Salteado</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenuarrozsalt" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Chopsuey">Chopsuey</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenuchopsuey" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="ChowMein">Chow Mein</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenuchowmein" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="LoMein">Lo Mein</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenulomein" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Fideos">Fideos</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenufideos" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Pollo">Pollo</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenupollo" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Carnes">Carnes</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenucarnes" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Cerdo">Cerdo & Camarón</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenucerdo" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Fuyung">Fu Yung</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenufuyung" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Vegetales">Vegetales & Ensaladas</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenuvegetales" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Sopas">Sopas</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenusopas" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Bebidas">Bebidas</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenubebidas" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Extras">Extras</h2>
        <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro">
    </div>
    <div id="containermenuextras" class="containerseccion">
    </div>
</div>

{% endblock %}